.wrapper {
    width: 350px;
    height: max-content;
    padding: 0 35px 35px 35px;
}
.list {

}
.list > .list_item {
    padding: 0;
}
.list_item > li {
    padding-left: 0;
}
.buttons {
    margin-top: 10px;
    justify-content: center;
}
.inputWrapper {
    display: flex;
    justify-content: space-between;
}
.inputName {
    width: 80%;
}
.alert {
    width: 70%;
}
.edit_input {
    width: 70%;
}