.App {
  padding: 30px;
  height: 100%;
  min-height:100vh ;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background: linear-gradient(to bottom, #5fcdd4, #539fde);
}
.todolist_add {
  background-color: #fff;
  padding: 20px;
  width: 450px;
  border-radius: 15px;
}
.todolist_wrapper {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}